html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

li {
  font-size: larger;
}

nav li a {
  text-decoration: none;
  color: snow;
}

nav {
  position: fixed;
  top: 0;
  background-color: rgba(30, 143, 255, 0.75);
  backdrop-filter: blur(3px);
  height: 50px;
  width: 100%;
  border-bottom: 2px solid black;
  z-index: 10;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 18px;
  color: snow;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 12px;
  right: 20px;
}

#logo {
  width: 150px;
  height: auto;
  margin-top: 60px;
}

header {
  width: 100%;
  min-height: 70vh;
  background-image: url("./sary/NosyIranja/nosy_iranja.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 80px;
  animation: header-slide 20s infinite alternate ease-in-out;
}

@keyframes header-slide {
  0% {
    background-image: url("./sary/NosyIranja/nosy_iranja.JPG");
  }
  100% {
    background-image: url("./sary/CompagnieMillot/cacao.JPG");
  }
}

.header_div {
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 20px;
}

.header_info {
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(3px);
  border-radius: 4px;
  padding: 25px;
  color: snow;
}

.header_info p {
  font-size: 18px;
}

main {
  max-width: 950px;
  margin: 40px auto;
  padding: 20px;
}

main img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 6px;
}

.location {
  margin-top: 50px;
  color: dodgerblue;
  font-size: 32px;
  font-family: Georgia, serif;
}

footer {
  background-color: #000;
  padding: 20px 0;
  color: snow;
  text-align: center;
}

footer ul {
  justify-content: center;
  gap: 25px;
}

footer a {
  color: snow;
}

.fa-whatsapp {
  font-size: 22px;
}

@media only screen and (max-width: 900px) {
  #logo {
    width: 120px;
  }
}

@media only screen and (max-width: 700px) {
  /* NAV MOBILE */
  header label {
    display: initial;
  }

  nav ul li.navText {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: black;
    padding: 12px 0;
    border-top: 2px solid white;
  }

  #menu-bar:checked ~ .navText {
    display: flex;
  }

  /* HEADER */
  header {
    min-height: 65vh;
    padding-top: 90px;
    background-position: top;
  }

  .header_div {
    width: 90%;
    padding: 20px 0;
  }

  .header_info {
    padding: 15px;
  }

  .header_text {
    display: none;
  }

  /* MAIN */
  main {
    width: 95%;
    padding: 0;
  }

  main img {
    width: 160px;
    height: 160px;
  }

  /* FOOTER */
  footer ul {
    flex-direction: column;
    gap: 15px;
  }
}



