html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Arial;
}
header {
  position: sticky;
  top: 0;
  background-color: rgba(255, 192, 203, 0.356);
  padding: 10px;
  z-index: 1;
  width: 100vw;
  height: auto;
}
nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: large;
}

nav img {
  width: 75px;
  height: 75px;
}
#myVideo {
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}
#myBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 10px;
  border: 0;
  width: 100px;
  background: rgba(0, 0, 0, 0.514);
  cursor: pointer;
  color: white;
  border-radius: 500px;
}
#myBtn:hover {
  background: rgba(226, 27, 103, 0.575);
  color: rgb(255, 255, 255);
}
section {
  position: relative;
  margin: 20px auto;
  width: 950px;
  background-color: pink;
  padding: 20px;
}
section img {
  max-width: 100%;
  height: auto;
}

.post_thumb {
  width: 35%;
  float: right;
}
.post_title {
  margin-top: 0;
}
.post_info {
  float: left;
  width: 65%;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.post_text {
  float: left;
  padding-right: 30px;
  width: 60%;
}
p a {
  color: black;
}

footer {
  margin-top: 30px;
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  background-color: rgba(255, 192, 203, 0.377);
  margin-bottom: 50px;
}

.bleu {
  color: blue;
}

@media only screen and (max-width: 1500px) {
  nav a {
    transform: scale(0.9);
  }

  section {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .post_info {
    float: none;
    margin-right: 329px;
    width: auto;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .post_thumb {
    position: absolute;
    width: 319px;
    height: 340px;
    top: 20px;
    right: 20px;
  }

  header {
    position: fixed;
  }
}

@media only screen and (max-width: 600px) {
  section {
    padding: 0;
  }
  .post_thumb {
    position: static;
    width: auto;
    height: auto;
    padding-bottom: 5px;
    padding-left: 5px;
  }
  .post_title{
    padding-top: 10px;
  }
  .post_info {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    margin-right: 0;
  }
  .post_text {
    padding-top: 0;
  }
  nav a {
    transform: scale(0.8);
  }
  header {
    position: fixed;
  }
  #myVideo {
    position: relative;
  }

  .post_text {
    float: none;
  }
  footer{
    margin-bottom: 0;
  }
}
